openapi: 3.0.3
info:
  title: Sample Todo Application for CERN
  description: Sample Todo Application for CERN
  contact:
    email: tdonnenfeld@gmail.com
  version: 1.0.11
servers:
  - url: https://todo.les12.fr
tags:
  - name: todo
    description: Operations about todos
  - name: categories
    description: Operations about todos
  - name: user
    description: Operations about users
paths:
  /todo:
    get:
      tags:
        - todo
      summary: Get all todos
      description: Get all todos
      operationId: getAllTodo
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Todo'
        '400':
          description: Invalid ID supplied
        '404':
          description: Todo not found
    post:
      tags:
        - todo
      summary: Add a new todo to the list
      description: Add a new todo to the list
      operationId: addTodo
      requestBody:
        $ref: '#/components/requestBodies/PostTodoRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Todo'
        '400':
          description: Invalid input
        '422':
          description: Validation exception
  /todo/{todoId}:
    get:
      tags:
        - todo
      summary: Find todo by ID
      description: Returns a single todo
      operationId: getTodoById
      parameters:
        - name: todoId
          in: path
          description: ID of todo to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Todo'
        '400':
          description: Invalid ID supplied
        '404':
          description: Todo not found
    put:
      tags:
        - todo
      summary: Update a todo
      description: Update an existing Todo by Id
      operationId: updateTodo
      parameters:
        - name: todoId
          in: path
          description: Todo id to delete
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Update an existent todo
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Todo'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Todo'
        '400':
          description: Invalid ID supplied
        '404':
          description: Todo not found
        '422':
          description: Validation exception
    delete:
      tags:
        - todo
      summary: Deletes a todo
      description: delete a todo
      operationId: deleteTodo
      parameters:
        - name: api_key
          in: header
          description: ''
          required: false
          schema:
            type: string
        - name: todoId
          in: path
          description: Todo id to delete
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '400':
          description: Invalid todo value
  /todo/search:
    post:
      tags:
        - todo
      summary: Finds todos with a search request
      description: Search parameters are given in request body
      operationId: findTodos
      requestBody:
        $ref: '#/components/requestBodies/SearchTodosRequest'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Todo'
        '400':
          description: Invalid status value
  /category:
    get:
      tags:
        - categories
      summary: Get all categories
      description: Get all categories
      operationId: getAllCategory
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
        '400':
          description: Invalid ID supplied
        '404':
          description: Category not found
    post:
      tags:
        - categories
      summary: Add a new category to the list
      description: Add a new category to the list
      operationId: addCategory
      requestBody:
        description: Create a new category
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Category'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          description: Invalid input
        '422':
          description: Validation exception
  /category/{categoryId}:
    get:
      tags:
        - categories
      summary: Find category by ID
      description: Returns a single category
      operationId: getCategoryById
      parameters:
        - name: categoryId
          in: path
          description: ID of category to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          description: Invalid ID supplied
        '404':
          description: Category not found
    put:
      tags:
        - categories
      summary: Update a category
      description: Update an existing Category by Id
      operationId: updateCategory
      parameters:
        - name: categoryId
          in: path
          description: ID of category to return
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Update an existent category
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Category'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          description: Invalid ID supplied
        '404':
          description: Category not found
        '422':
          description: Validation exception
    delete:
      tags:
        - categories
      summary: Deletes a category
      description: delete a category
      operationId: deleteCategory
      parameters:
        - name: api_key
          in: header
          description: ''
          required: false
          schema:
            type: string
        - name: categoryId
          in: path
          description: Category id to delete
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '400':
          description: Invalid category value
  /user:
    post:
      tags:
        - user
      summary: Create user
      description: Creates a new user
      operationId: createUser
      requestBody:
        $ref: '#/components/requestBodies/PostUserRequest'
      responses:
        default:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
components:
  schemas:
    Todo:
      required:
        - name
        - description
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 2
        name:
          type: string
          example: "Wash the dishes"
        description:
          type: string
          example: "It's been piling up I need to do something..."
        deadline:
          type: string
          format: date-time
          example: "2025-02-04T23:59:59.00Z"
        categories:
          type: array
          items:
            $ref: '#/components/schemas/Category'
    Category:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 4
        name:
          type: string
          example: "Chores"
        description:
          type: string
          example: "Regroups all domestic work related tasks"
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 8
        username:
          type: string
          example: tdonnenfeld
        firstName:
          type: string
          example: Theotime
        lastName:
          type: string
          example: Donnenfeld
        email:
          type: string
          example: tdonnenfeld@gmail.com
        password:
          type: string
          example: '12345'
        isAdmin:
          type: boolean
  requestBodies:
    PostTodoRequest:
      description: Todo object that needs to be added
      content:
        application/json:
          schema:
            required:
              - name
              - description
            type: object
            properties:
              name:
                type: string
                example: "Wash the dishes"
              description:
                type: string
                example: "It's been piling up I need to do something..."
              deadline:
                type: string
                format: date-time
                example: "2025-02-04T23:59:59.00Z"
              category:
                type: object
                properties:
                  name:
                    type: string
                    example: "Chores"
    PostCategoryRequest:
      description: Category object that needs to be added
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Todo'
    PostUserRequest:
      description: User that need to be created
      content:
        application/json:
          schema:
            type: object
            properties:
              username:
                type: string
                example: tdonnenfeld
              firstName:
                type: string
                example: Theotime
              lastName:
                type: string
                example: Donnenfeld
              email:
                type: string
                example: tdonnenfeld@gmail.com
              password:
                type: string
                example: '12345'
    SearchTodosRequest:
      description: Todo search request object
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Todo'